/* 폰트 설정 */
@font-face {
    font-family: myFont;
    src: url(font/SpectralSC-Bold.ttf);
    font-weight: bold;
}
/* 전체 설정 */
html{
    height:100vh;
}
body{
    height:100%;
}

/* img 설정 */
img{
    border-radius: 100%;
    width:100%;
}
.Loginform {
    background-image: url(LoginForm.png);
}

.Calculator {
    background-image: url(Calculator.png);
}

.Sketch {
    background-image: url(Sketch.png);
}

.RockScissorsPaper {
    background-image: url(RockScissorsPaper.png);
}

/* body */
body{
    display:flex;
    flex-direction: column;
}
#body{
    flex:1;
    display:grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

/* header */
header{
    display: grid;
    grid-template: auto 1fr/ 3fr auto;
    grid-column: 2/3;
    grid-row:1/2;
    background-color: #ff000010;
}
form{

}
#headprofileContainer{
    display: flex;
}
#contentprofileContainer{
    display: flex;
}
#buttonContainer{

}
/* sidebar */
sidebar{
    grid-row:1/-1;
    background-color: #0000ff10;
}
/* #main */
#main{
    background-color: #00ff0010;
}
/* footer */
footer{
    background-color: black;
    color:white;
    opacity: 0.6;
    z-index: 1;
}
footer p{
    margin:0px;
}
#footer p{
    text-align: center;
}